.text{
    font-family: Banff Regular;
    color:#E62C2C;
    font-size: 80px;
}
.textWhite{
    font-family: Banff Regular;
    color:white;
    font-size: 80px;
}
.text1{
    color:white;
    font-size:40px;
    font-family: Roboto,sans-serif;
}
.text2{
    color:#E62C2C;
    font-size:20px;
    font-family: Roboto,sans-serif;
}
.rej{
    font-family: Banff Regular;
    color:#E62C2C;
    font-size: 30px;
}
.text3{
    font-size:20px;
    font-weight: 400;
}
.u-section-15 {
    background-image: none;
  }
  
  .u-section-15 .u-sheet-1 {
    min-height: 501px;
  }
  
  .u-section-15 .u-text-1 {
    text-transform: uppercase;
    font-size: 2.25rem;
    margin: 54px auto 0 0;
  }
  
  .u-section-15 .u-list-1 {
    margin-top: 13px;
    margin-bottom: 27px;
  }
  
  .u-section-15 .u-repeater-1 {
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    min-height: 264px;
    grid-gap: 30px 30px;
    grid-auto-columns: calc(50% - 15px);
  }
  
  .u-section-15 .u-container-layout-1 {
    padding: 21px 20px 8px 0;
  }
  
  .u-section-15 .u-text-2 {
    margin: 0;
  }
  
  .u-section-15 .u-text-3 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }
  
  .u-section-15 .u-container-layout-2 {
    padding: 21px 20px 8px 0;
  }
  
  .u-section-15 .u-text-4 {
    margin: 0;
  }
  
  .u-section-15 .u-text-5 {
    font-weight: 700;
    font-size: 1.25rem;
    margin: 0;
  }
  
  .u-section-15 .u-container-layout-3 {
    padding: 21px 20px 8px 0;
  }
  
  .u-section-15 .u-text-6 {
    margin: 0;
  }
  
  .u-section-15 .u-text-7 {
    font-size: 1.25rem;
    margin: 0;
  }
  
  .u-section-15 .u-container-layout-4 {
    padding: 21px 20px 8px 0;
  }
  
  .u-section-15 .u-text-8 {
    margin: 0;
  }
  
  .u-section-15 .u-text-9 {
    font-size: 1.25rem;
    margin: 0;
  }
  
  @media (max-width: 1199px) {
    .u-section-15 .u-repeater-1 {
      grid-template-columns: repeat(3, calc(33.3333% - 20px));
      min-height: 222px;
    }
  }
  
  @media (max-width: 991px) {
    .u-section-15 .u-repeater-1 {
      grid-template-columns: 100%;
      grid-auto-columns: calc(100% - 0px);
    }
  }
  
  @media (max-width: 767px) {
    .u-section-15 .u-repeater-1 {
      grid-auto-columns: 100%;
    }
  
    .u-section-15 .u-container-layout-1 {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  
    .u-section-15 .u-container-layout-2 {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  
    .u-section-15 .u-container-layout-3 {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  
    .u-section-15 .u-container-layout-4 {
      padding-top: 20px;
      padding-right: 10px;
      padding-bottom: 20px;
    }
  } 